// 变量
$margin:0;
$blue:#5FC0CD;
$white:#FFFFFF;





html{
    font-size: 312.5%;
}
body{
    padding: .88rem 0 1.5rem 0;
    margin: $margin;
    font-size: initial;
}
p{
    margin: $margin;
}



/*header眉页*/
header{
    position: fixed;
    top:0;
    width: 100%;
    height: .88rem;

}